
$clr-font-dark: #fff;
$clr-justwhite: #fff;
$clr-background: #2b061a;
$clr-footer: #410928;
$clr-navbar: #410928;
$clr-shadow-nav: #0000002d;
$clr-shadow-footer: #0000002d;
$clr-hover: #54223e;
$clr-scroll-thumb:#5e0e3a;
$clr-scroll-track:#2b061a;

$font-regular: Meslo-Regular;
$font-bold: Meslo-Bold;

//Footer
footer {

    ul {

        @keyframes discord {
            0% {height:70px; width:250px !important;}
             100% {height:500px;width:350px !important;}
        }
        @keyframes discord-c {
            0% {height:500px;width:350px !important;}
        100% {height:70px; width:250px !important;}
        }
        #discord {
            animation-name: discord-c !important;
            animation-duration: 2s !important;
            animation-play-state: pause !important;
            float:left !important;
            height:70px !important;
            width:250px !important;
        
        
            
        }
        
        #discord:hover {
            height:500px !important;
            width:350px !important;
            float:left !important;
            animation-name: discord !important;
            animation-duration: 2s !important;
            animation-play-state: pause !important; 
        }       

            box-shadow: 0px -10px 10px 3px $clr-shadow-footer !important;
            background-color: $clr-footer !important;
            margin: 0 !important;
            overflow: auto !important;
            li {
                    align-self: center;
                    list-style-type: none !important;
                    a {

                            text-decoration: none !important;
                            color: $clr-font-dark !important;
                            margin: 0 !important;
                            padding: 15px !important;
                            text-align: center !important;
                            display: block !important;
                            font-size: 20px !important;
                    }
                    a:hover {
                            text-decoration-thickness: 4px !important;
                            background-color: $clr-hover !important;
                    }
            }
    }
}
