// Color
$clr-font-dark: #fff;
$clr-justwhite: #fff;
$clr-background: #2b061a;
$clr-footer: #410928;
$clr-navbar: #410928;
$clr-shadow-nav: #0000002d;
$clr-shadow-footer: #0000002d;
$clr-hover: #54223e;
$clr-scroll-thumb:#5e0e3a;
$clr-scroll-track:#2b061a;

$font-regular: Meslo-Regular;
$font-bold: Meslo-Bold;

// Scrollbar
::-webkit-scrollbar {
        display: block;
        width: 10px;
}
::-webkit-scrollbar:hover {
        display: block;
        width: 15px;
}
::-webkit-scrollbar-track {
        background-color: $clr-scroll-track;
}
::-webkit-scrollbar-thumb {
        background: $clr-scroll-thumb;
        border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
        background: $clr-hover;
        border-radius: 1rem;
}


//IMPORTANT!
* {
        margin: 0;
        padding: 0;
}

body {
        background-color: $clr-background;
        font-family: Arial, Helvetica, sans-serif;
        color: $clr-font-dark;
}

//Navbar
nav {
        width: 100%;
        overflow: hidden;
        background-color: $clr-navbar;
        color: $clr-font-dark;
        box-shadow: 0px 5px 10px 3px $clr-shadow-nav;
        li {
                list-style-type: none;
                float: left;
                text-decoration: none;
                a {
                        display: block;
                        width: 200px;
                        text-align: center;
                        padding: 12px 0px;
                        color: $clr-font-dark;
                        font-size: 36px;
                        transition: all 0.1s ease-in;
                        text-decoration: none;
                }

                a:hover {
                        background-color: $clr-hover;
                }
        }
        .right {
                float: right;
                a {
                        width: 80px;
                }
        }
}

//Main
main {
        div{
                p{
                        padding:10px;
                        font-size: 32px;
                        font-weight: 200;
                }
        }

        .space {
                        margin-top: 50px;
                        margin-bottom: 100%;
        }

}



//Footer
footer {

        ul {
                box-shadow: 0px -10px 10px 3px $clr-shadow-footer;
                background-color: $clr-footer;
                margin: 0;
                overflow: auto;
                li {
                        list-style-type: none;
                        a {
                                text-decoration: none;
                                color: $clr-font-dark;
                                margin: 0;
                                padding: 15px;
                                text-align: center;
                                display: block;
                                font-size: 20px;
                        }
                        a:hover {
                                text-decoration-thickness: 4px;
                                background-color: $clr-hover;
                        }
                }
        }
}

// Accessibility
.hidden {
        display: none;
}
