main {
    p {
        padding: 20px !important;
        font-size: 32px !important;
        font-weight: bolder !important;
    }

    a {
        padding: 20px !important;
        color: rgb(91, 230, 255) !important;
        text-decoration: none !important;
        font-weight: 400 !important;
        font-size: 20px !important;
    }

    a:hover {
        text-decoration: underline !important;
    }
}